# 1 Basics

## 1.1: The Interpreter

In [5]:
3 + 1 # console: 4

4

In [6]:
3*3 # console: 9

9

In [18]:
2**3 # console: 8

8

In [7]:
"Hello, world!" # console: 'Hello, world!'

'Hello, world!'

## 1.2: Scripts

In [17]:
# Nothing happens when I run the script. The Terminal prompts me for a 
# command again. 
# If I include print statements on the script, 
# then the values will be printed on my Terminal window.
#script.py
print(3+1)
print(3*3)
print(2**3)
print("Hello, world!")

4
9
8
Hello, world!

## 1.3: More Interpreter

In [10]:
'py' + 'thon' #console: 'python' - it adds the string 'py' to the string 'thon'

'python'

In [9]:
'py'*3 + 'thon' #console: 'pypypython' - it adds the string 'py' three time to 'thon'

'pypypython'

In [8]:
'py' - 'py' # TypeError: unsupported operand type(s) for -: 'str' and 'str'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [16]:
'3' + 3 # TypeError: must be str, not int

TypeError: must be str, not int

In [11]:
3*'3' #console: '333' (it's a string, not an int). It print the string '3' three times

'333'

In [12]:
a # NameError: name 'a' is not defined

NameError: name 'a' is not defined

In [14]:
a = 3 #(variable initialized successfully)

In [15]:
a # it will call the value assigned to a, which is 3

3

## 1.4: Booleans

In [19]:
1 == 1 # 1 is equal to 1, therefore, it will return True

True

In [20]:
1 == True # True, 1 equals to True (binary logic)

True

In [21]:
0 == True # False, because 0 is equal to False (binary logic)

False

In [22]:
0 == False # True, because 0 is indeed False

True

In [23]:
3 == 1*3 # True, because 3==3

True

In [24]:
(3==1)*3 # console output: 0. False (0) times three is 0

0

In [25]:
(3 == 3) * 4 + 3 == 1 # True + False = False, so it will return False

False

## 1.5: Integers

In [26]:
5/3 # 5 /3 is 1.6666667. Although both 5 and 3 are ints, in Python 3.6 their division can return a float

1.6666666666666667

In [27]:
5%3 # the remainder of the division between 5 and 3 is 2

2

In [28]:
5.0%3 # the remainder of the division between 5.0 and 3 is 2.0 (float because 5.0 is also a float)

2.0

In [ ]:
5 / 3.0 # same as the first exercise in this section

In [29]:
5.2%3 # the remainder (2.2) is a float because it

2.2

In [30]:
2001**200 # the output is thr result of 2001 to the power of (**) 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

## 1.6: Floats

In [33]:
2000.3**200 # OverflowError: (34, 'Result too large'). This error probably comes because of the numbers that will come after the period. The number for 1.5-f was an int, so it had no numbers after the period, meaning it can take a bigger number without overflowing. That same can't happen with floats, given they have to store more bits than ints for numbers that are the same order of magnitude.

OverflowError: (34, 'Result too large')

In [34]:
1. + 1. - 1. # as expected, the sum would be 1.

1.0

In [35]:
1.0 + 1.0e20 - 1.0e20 # in this case, when the 1. is added to 1.0e20 (a very large number), then it can be approximated that 1.0e20+1.0 = 1.0e20. Therefore, when 1.0e20 is subtracted from that sum, the 1.0 is totally disregarded and the final result is 0.0

0.0

## 1.7: Variables

In [36]:
# script:
name = "John Doe"
print ("Hello, " + name + "!")

Hello, John Doe!

## 1.8: Type Casting

In [37]:
float(123) # 123, an int, is turned into a float and gains a decimal place after the units digit

123.0

In [38]:
float('123') # convert from string to float

123.0

In [39]:
float('123.23') # converts 123.23 from string to float

123.23

In [40]:
int(123.23) # truncate the number at no decimal places. converts from float to int

123

In [41]:
int('123.23') # ValueError: invalid literal for int() with base 10: '123.23'. Conversion does not work because the string is not in an acceptable format for an int.

ValueError: invalid literal for int() with base 10: '123.23'

In [42]:
int(float('123.23')) # float converts '123.23' from string and int turns into an integer

123

In [43]:
str(12) # an int is converted into a string

'12'

In [44]:
str(12.2) # a float is converted into a string

'12.2'

In [45]:
bool('a') # returns True... is it a default value? are there any operations going on here?

True

In [46]:
bool(0) # given binary logic, 0 is ALWAYS false

False

In [47]:
bool(0.1) # returns True. Is it because it is not 0?

True