# Control Flow

## 2.1: Range

In [2]:
#When I type range(5) in the interpreter, I get "range(0,5)" as an output. Therefore, "for i in range(5)" would be the same as saying (int i = 0; i < 5, i++) in C++ or Java. In other words, the prigram is iterating over three key people in this event.
#The class of an object range is <class ' range'>

SyntaxError: invalid syntax (<ipython-input-2-deaa2672a3e9>, line 1)

## 2.2: For Loops

In [3]:
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [4]:
for i in range(0,101):
    if (i%7==0):
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [5]:
for i in range(1,101):
    if (i%5==0 and i%3!=0):
        print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95
100

In [7]:
for i in range(2, 21):
    outstring = str(i) + ": ";
    for j in range(2, i):
        if (i%j == 0):
            outstring += str(j) + " "
    print(outstring)

2:
3:
4: 2
5:
6: 2 3
7:
8: 2 4
9: 3
10: 2 5
11:
12: 2 3 4 6
13:
14: 2 7
15: 3 5
16: 2 4 8
17:
18: 2 3 6 9
19:
20: 2 4 5 10

## 2.3: Simple While Loops

In [8]:
a = 0
while (a<101):
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
a=0
while (a<101):
    if(a%7==0):
        print(a)
    a += 1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

## 2.4: While loops

In [10]:
numberfound = 0
x = 385
while (numberfound < 20):
    if (x%5==0 and x%7 ==0 and x%11 == 0):
            print(x)
            numberfound += 1
    x += 1

# the pseudo-code is a little inefficient, though, and that's why I decided to change the starting x from 11 to 385. Given I know that 5, 7, and 11 are all primes AND mutually primes, all the numbers that can be divided by 5, 7, and 11 will be multiples of n*5*7*11, where n is any positive number)

385
770
1155
1540
1925
2310
2695
3080
3465
3850
4235
4620
5005
5390
5775
6160
6545
6930
7315
7700

## 2.5: More while loops

In [11]:
numberfound = 0
x = 10
while (numberfound == 0):
    if (x%1==0 and x%2==0 and x%3==0 and x%4==0 and x%5==0 and x%6==0 and x%7==0 and x%8 ==0 and x%9 == 0 and x%10==0):
            print(x)
            numberfound += 1
    x += 1

2520

## 2.6: Collatz Sequence

In [12]:
collatz = int(103)
while (collatz!=1):
    if (collatz % 2 == 1): 
        collatz = 3 * collatz + 1
        print (collatz)
    elif (collatz % 2 == 0):
        collatz = collatz / 2
        print (collatz)

310
155.0
466.0
233.0
700.0
350.0
175.0
526.0
263.0
790.0
395.0
1186.0
593.0
1780.0
890.0
445.0
1336.0
668.0
334.0
167.0
502.0
251.0
754.0
377.0
1132.0
566.0
283.0
850.0
425.0
1276.0
638.0
319.0
958.0
479.0
1438.0
719.0
2158.0
1079.0
3238.0
1619.0
4858.0
2429.0
7288.0
3644.0
1822.0
911.0
2734.0
1367.0
4102.0
2051.0
6154.0
3077.0
9232.0
4616.0
2308.0
1154.0
577.0
1732.0
866.0
433.0
1300.0
650.0
325.0
976.0
488.0
244.0
122.0
61.0
184.0
92.0
46.0
23.0
70.0
35.0
106.0
53.0
160.0
80.0
40.0
20.0
10.0
5.0
16.0
8.0
4.0
2.0
1.0